@font-face {
	font-family: "Muli Sans";
	src: url('../fonts/Muli.ttf') format('truetype');
}

@font-face {
	font-family: "Muli Sans";
	src: url('../fonts/Muli-ExtraLight.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: "Muli Sans";
	src: url('../fonts/Muli-Light.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: "Muli Sans";
	src: url('../fonts/Muli-SemiBold.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: "Muli Sans";
	src: url('../fonts/Muli-Bold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: "Domine";
	src: url('../fonts/Domine-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: "Domine";
	src: url('../fonts/Domine-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: "Domine";
	src: url('../fonts/Domine-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: "Domine";
	src: url('../fonts/Domine-Bold.ttf') format('truetype');
	font-weight: 700;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: "Muli Sans";
	font-size: 100%;
}

a {
	text-decoration: none;
}

.d-flex {
	display: flex;
}

.custome-container {
	width: 100%;
	padding: 0 20px;
}

.btn {
	padding: 8px 14px;
	border-radius: 5px;
	font-size: 15px;
	transition: 0, 1s;
}

.btn-tritiya {
	background-color: rgb(200, 134, 52, 0.2);
	border: 1px solid rgb(200, 134, 52, 0.5);
	color: #353535;
}

.btn-white{
	background-color:#ffffff;
}

.btn.outline{
	border:1px solid rgb(200, 134, 52, 0.5);
}

.btn-white:hover{
	background-color:#c88634;
	color:#ffffff;
}
.btn-tritiya:hover {
	background-color: rgb(200, 134, 52);
	border: 1px solid rgb(200, 134, 52);
	color: rgb(255, 255, 255);
}

.btn-tritiya-active{
	background-color:#c88634;
	color:#fff;
}

.btn-orange{
	background-color:#f15d47;
	color:#fff;
	border:1px solid#f15d47;
}

.btn-orange:hover{
	background-color:#ce3b25;
	border:1px solid #ce3b25;
}

.btn-orange-outline{
	background-color:transparent;
	color:#f15d47;
	border:1px solid#f15d47;
}

.btn-orange-outline:hover{
	background-color:#f15d47;
	color:#fff;
	border:1px solid#f15d47;	
}

.btn-buy-now{
	flex:50%;
	padding: 5px;
	text-transform: uppercase;
	line-height: 28px;
}

.section-title {
	margin-bottom: 20px;
}

.section-title>p {
	font-size: 24px;
	font-weight: 400;
}

.bg-gray{
	background-color:#f0f0f0;
}


/* -----------------------Header Start-------------------------- */

.white-header {
	background-color: #fff;
	position: sticky;
	z-index: 2;
}

.header-logo {
	position: absolute;
	background-color: #fff;
	top: 10px;
	border-radius: 100%;
	box-shadow: 0px 0px 33px -20px;
}

.middle-header {
	padding: 15px 0px;
}

.middle-header-links {
	text-decoration: none;
	gap: 4px;
	color: #353535;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #cccccc;
}

.middle-header-links:first-child {
	border: none;
}

.middle-header-links:hover {
	color: #f05d4d;
	cursor: pointer;
}

.middle-header-links>i {
	font-size: 24px;
	font-family: auto;
}

.middle-header-links>span {
	font-size: 13px;
	line-height: 16px;
	font-weight: 500;
}

.top-header {
	padding: 5px 0px;
}

.top-header-contact {
	color: #999999;
	padding-right: 7px;
}

.top-header>a {
	text-decoration: none;
	font-size: 13px;
	color: #001e38;
}

.top-header-links {
	margin-left: 7px;
	padding-left: 7px;
	border-left: 1px solid #ccc;
}

.header-search-bar {
	width: 100%;
	position: relative;
}

.header-search-bar>.global-search {
	width: 100%;
	padding: 5px 10px;
	font-size: 14px;
	height: 34px;
	border: 1px solid #ababab;
}

.header-search-bar>.global-search-btn,
.header-search-bar>.global-search-icon {
	position: absolute;
	right: 0px;
	width: 50px;
	text-align: center;
	height: 100%;
	background-color: transparent;
	border: 1px solid #f05d4d;
	padding: 5px 10px;
}

.header-search-bar>.global-search-icon {
	background-color: #f05d4d;
	color: #fff;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
}

.bg-navbar {
	background-color: #C88634;
	padding: 3px 3px;
}

.navbar>.navbar-collapse>.navbar-nav>.nav-item>.nav-link {
	text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 13px;
	color: #fff;
}

.badge {
	background-color: #f05d4d;
}

.dropdown-menu {
	font-size: 13px;
}

.mega-menu-heading {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.mega-menu-item {
	color: #353535;
	text-decoration: none;
	font-size: 12px;
}

.dropdown-menu.mega-menu>.row>.col-md-3:nth-child(2) {
	background-color: #f9f9f9;
}

.dropdown-menu.mega-menu>.row>.col-md-3 {
	padding: 15px 10px;
}


@media all and (min-width: 992px) {
	.dropdown-menu {
		width: 13rem;
	}

	.mega-submenu {
		left: 100%;
		top: 0;
		min-width: 25rem;
	}

	.ktm-mega-menu {
		position: static;
	}

	.mega-menu {
		left: 0;
		right: 0;
		width: 100%;
		max-width: 1200px;
	}

	.dropdown-menu li {
		position: relative;
	}

	.dropdown-menu .submenu {
		display: none;
		left: 100%;
		top: 0;
	}

	.dropdown-menu>li:hover>.submenu,
	.dropdown:hover>.dropdown-menu {
		display: block;
		margin: auto;
	}
}

/* -----------------------End Header-------------------------- */


.bg-banner-section video {
	width: 100%;
	height: 75vh;
	object-fit: cover;
}

.bg-banner-section .fw-image-wrap img {
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 600px;
	width: 50%;
}

.bg-banner-section .fw-image-wrap {
	background: url(../img/white-overlay.webp) repeat-x 0 100%;
	background-size: contain;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


/* ----------------------------Home Category Start---------------------------------- */
.category-card {
	max-width: 12%;
	text-align: center;
	width: 100%;
	padding: 5px;
}

.category-image-box {
	background-color: rgb(200, 134, 52, 0.2);
	border: 1px solid #d7c9b7;
	border-radius: 20px;
	box-shadow: 0px 5px 8px -7px gray;
	transition: 0.1s;
	border: 1px solid #e1dcdd;
	background-color: #FFF8F9;
}

.category-image-box:hover {
	transform: scale(1.02);
}

.category-card>p {
	font-size: 13px;
	margin-top: 5px;
	color: #404040;
	opacity: 0.8;
}

/* ----------------------------Home category end--------------------------------------- */

/* ----------------------------Home Collectiond start---------------------------------- */

.home-collection-image>img {
	border-radius: 10px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
	transition: 0.3s;
}

.home-collection-image:hover>img {
	transform: scale(1.02);
}


/* ------------------------------Home Collectiond end---------------------------------------- */

/* ------------------------------Home Special Collection Start------------------------------- */
.home-special-collection-box>.img-box{
	overflow: hidden;
	border-radius: 10px;
}
.home-special-collection-box>.img-box>img{
	transition: 1s ease-out;
}
.home-special-collection-box:hover>.img-box>img{
 transform: scale(1.1);
}
.home-special-collection-name{
	font-size: 14px;	
	color:#949494;
}
.home-special-collection-img-box{
	position:absolute;
	bottom:-80px;
	left:50%;
	transform:translateX(-50%) ;
	z-index: 1;
}
.home-special-collect-product{
	max-width:150px;
	width: 100%;
	border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(124, 104, 104, 0.25);
    text-align: center;
    overflow: hidden;
}

.home-special-category{
	margin-bottom: 100px;
}

/* -------------------------Home Special Collection End----------------------------- */

/* ------------------------Home Category with videos Start-------------------------- */

.category-video-item{
	max-width: 260px;
	width:100%;
	flex:0 0 260px;
}

.category-video-item>a>video{
	border-radius:6px;
}

.videos-category-row{
	display: inline-flex;
	overflow-x: auto;
	flex-wrap: nowrap;
	gap:8px;
}

.videos-category-row::-webkit-scrollbar{
	display:none;
}

.category-video-item>p{
	text-align:center;
	font-size:14px;
}

/* ------------------------Home Category with videos Start------------------------------ */

/* ---------------------Footer------------------------------- */
.footer{
	background-color:#140b00;
	padding:30px 0px;
}

.footer-column-header{
	color:#f2f2f2;
	text-transform: uppercase;
}

.footer-menu{
	list-style: none;
	padding-left:0px;
}

.footer-menu>.footer-nav>a{
	color:#ccc;
	font-size:13px;
}

.footer-bottom{
	background-color:#140b00;
	border-top:1px solid #242323;
	padding: 20px 0px;
}

.footer-para{
	font-size: 13px;
	color: #ccc;
}

.subscription-box{
	display:flex;
}

.subs-btn{
	font-size: 13px;
    padding: 5px 8px;
	background-color:#C88634;
	border:1px solid #C88634;
	color:#fff;
	border-radius:0px 2px 2px 0px;
}

.subs-input{
	border:1px solid #ccc;
	border-radius: 2px 0px 0px 2px;
}

.social-media-links{
	display: flex;
	gap:15px;
	justify-content: center;	
}

.social-media-links>a{
	color:#fff;
}
.copyrights-box>p{
	text-align: center;
	margin-bottom: 0px;
	font-size: 12px;
	color:#fff;
}

.payment-icons>img{
	height:25px;
}

.editorial-img-box{
	border-radius: 10px;
    overflow: hidden;
	display: block;
}
.editorial-img-box>img{
	transform: scale(1);
	transition: 1s ease-out;
}
.editorial-img-box:hover>img{
	transform: scale(1.08);
}
.editorial-img-box1{
	display: block;
	width:100%;
	height:100%;
	border-radius: 10px;
	overflow: hidden;
	/* background-color:#ccc; */
	background-image:url(../img/editorial-mg.webp);
	background-size: cover;
	transition: 1s ease-out;
}

.row-gap-20{
	row-gap: 20px;
}


/* ----------------------Product List------------------ */
.breadcrumb{
	font-size:14px;
}
.breadcrumb>a{
	color:#140b00;	
}

.filters-btn-row>.btn{
	font-size: 13px;
}

.filters-actions{
	background-color: #ffeed9;
    padding: 12px;
}

.filter-sidebar{
	width:280px;
}

.fitersidebar-heading{    
	background-color: #c88634;
    padding: 8px 12px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
	margin-bottom: 0px;
}

.filter-sidebar-wraper{
    background-color: #f2f2f2;
    padding: 8px 12px;
	max-height: 92vh;
	overflow-y: auto;
}

.shorting-option{
	border:1px solid rgb(200, 134, 52, 0.5);
	padding:8px 14px;
	font-size:13px;
	cursor: pointer;
	-webkit-appearance:none;
	width:160px;
}

.product-list-col{
	padding-left:15px;
	flex: 1;
}

.product-name{
	font-size: 14px;
	padding: 10px 10px 0px 10px;
	color: #6c6c6c;
}

.selling-price{
	font-size: 18px;
    font-weight: 500;
	color:#333333;
}

.mrp-price{
	font-size: 14px;
    opacity: 0.7;
	color: #7a7a7a;
}

.save-value{
	font-size: 13px;
    color: #ff0000;
}

.product-list-thumb{
	margin-bottom: 15px;
}

.product-list-thumb:hover{
	box-shadow: 0px 0px 8px 1px rgb(193 193 193 / 70%);
}

.product-values{
	padding: 0px 10px 10px 10px;
}

.unhoverd{
	display:block;
}

.hoverd{
	display:none;
}

.product-list-thumb:hover .unhoverd{
	display:none;
}

.product-list-thumb:hover .hoverd{
	display:block;
}

.wishlist-wraper{
	position:absolute;
	top:45px;
	left:15px;
}

.wishlist-wraper>a>i{
font-size: 24px;
color:#999999;
}

.ribbon-pop {
	background: linear-gradient(270deg, #dbad75 5.25%, #c88634 96.68%);
	display: inline-block;
	padding: 4px 40px 5px 20px;
	color: white;
	position: absolute;
	left:-9.5px;
	width: 103%;
	font-size: 14px;
  }	
  .ribbon-pop:before {
	height: 0;
	width: 0;
	border-top: 10px solid #623d0e;
	border-left: 10px solid transparent;
	bottom: -10px;
	position: absolute;
	content: "";
	left: 0;
  }

  .divider{
	width:100%;
	border-bottom:1px solid #cccccc;
	margin:10px 0px;		
  }

  .dropdown-angle{
	position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
  }

  /* ------------------------------Product Setails Page Start------------------------------ */
  .product-details-productName{
	font-family: "domine";
	font-size: 24px;
	font-weight: 400;
  }

  .product-old-price{
	color: #666;
    font-size: 18px;
    line-height: 24px;
    font-family: "Domine";
    letter-spacing: 1px;
	margin-bottom: 0px;
  }

  .produc-new-price{
	color: #000;
    font-family: Domine, serif;
    font-size: 28px;
    letter-spacing: 0;
	margin-bottom: 0px;
  }

  .produc-new-price>span{
	padding: 2px 10px 2px 10px;
    margin-left: 28px;
    text-align: center;
    color: #666;
    border-color: #d3d3d3;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: #f9f9f9;
    max-width: 100%;
    display: inline-flex;
	font-size: 14px;
	font-family: "Muli Sans";
	position: relative;
  }

  .produc-new-price>span:before{
    content: " ";
    min-width: 35px;
    height: 100%;
    display: inline-flex;
    position: absolute;
	left: -21px;
    top: -1px;
    background: url(../img/arrow-before.v1.png) no-repeat center;
    background-size: contain;
  }

.produc-new-price>span:after{
	content: " ";
	min-width: 35px;
	height: 27px;
	display: inline-flex;
	position: absolute;
	right: -22px;
	top: -1px;
	background: url(../img/arrow-after.v1.png) no-repeat center;
	background-size: contain;
}

.product-price-incl{
	font-size:13px;
	color:#4d4d4d;
}

.product-available{
	background: #f9f9f9;
    display: block;
    padding: 8px 15px 8px 15px;
    margin: 0;
    position: relative;
}

.pincode-input-box{
	padding: 0px 60px 2px 5px;
    position: relative;
	border: 1px solid #cacaca;
	display: flex;
    align-items: center;
}

.pincode-input{
	width: 70px;
	outline: 0;
    border: none;
    background: 0 0;
    float: left;
    margin-right: 10px;
    height: 18px;
    line-height: normal;
	margin-top: .25rem;
    font-size: .875em;
    color: #6c757d;
}

.pin-btn{
	position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    padding: 0 6px;
    line-height: 24px;
    color: #4d4d4d;
	border:1px solid #cacaca;
    background: #cacaca;
	cursor: pointer;
    font-size: 13px;
}

.pincode-details-wrap{
	display: flex;
}

.pincode-details-wrap label{
	font-size:14px;
	margin-right:10px;
	color:#212529;
}

.store-availability{
	border: 1px dashed #e0e0e0;
    padding: 5px 10px;
    margin-bottom: 8px;
    display: inline-block;
	font-size: 13px;
	margin-top:8px;
}

.delivery-probebilty{
	font-size: 13px;
}

.short-description{
	color: #666;
    font-family: Muli, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
	margin-top:15px;
}

.customize-product-title{
	font-size: 15px;
	cursor: pointer;
}

.customize-product-title>.closed-collapse{
	display:none;
}

.collapsed>.customize-product-title>.closed-collapse{
	display:block;
}

.customize-product-title>.opened-collapse{
	display:block;
}

.collapsed>.customize-product-title>.opened-collapse{
	display:none;
}

.collapse-indicator{
	font-size: 20px;
}

.collapse-indicator>.pluse{
	display:none;
}

.collapsed>.collapse-indicator>.pluse{
	display:block;
}

.collapse-indicator>.minuse{
	display:block;
}

.collapsed>.collapse-indicator>.minuse{
	display:none;
}

.customization-options{
	padding: 10px 10px;
	border-top:1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
}

.optons-wraper{
	gap: 15px;
	margin-top:10px;
}

.customize-options{
	padding:3px 8px;
	font-size: 14px;
	width: max-content;
}

/* .customize-options2{
	padding:3px 8px;
	font-size: 14px;
	
} */

.customize-options>select{
	border:none;
}

.solitaire-options{
	margin-left:15px;
	font-size: 13px;
}

.solitaire-options>select{
	border:none;
	background-color:#f0f0f0;
	color:#272b65;
	padding: 2px;
}

.more-options{
	display: flex;
	gap:5px;
	font-size: 14px;
}

.more-options>.size-options>select{
	font-size: 13px;
	margin-left: 8px;
	margin-right: 8px;
	border: 1px solid #cacaca;
	padding: 0px 60px 2px 5px;
}

.product-details-action-butons{
	display: flex;
	gap: 15px;
	margin-top:15px;
}

.promise-box{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.promise-box:nth-child(2){
	border-left:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	padding: 0px 15px;
}

.promise-box>img{
	width:20px;
}

.promise-box>a{
	color:#337ab7;
	font-size: 13px;
}

.promise-wraper{
	border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
	margin-top:15px;
	padding: 2% 0;
	display:flex;
	justify-content: space-around;
}

.any-question{
	font-size: 14px;
	color:#333333;
	text-align: center;
	padding: 10px 0px;
}

.similar-designs-card-wrap{
	display:flex;
	/* gap:15px; */
	flex-wrap:nowrap;
	overflow: auto;
	padding: 5px 5px 15px 5px;
}

.similar-designs-card{
	flex:0 0 219px;
	margin-right: 15px;
	width:100%;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);

}
.similar-product-seling-price{
	color: #000;
    font-size: 14px;
	text-align: center;
	padding: 5px 0px;
	margin-bottom: 0;
}

.similar-product-seling-price>strike{
	font-size: 13px;
    line-height: 19px;
    padding-left: 5px;
    color: #9b9b9b;
}

.similar-product-saving{
	text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #007236;
}

.similar-product-pricebox{
	padding: 6px 10px;
}

.similar-design{
	font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
}

.product-image-thumbnail-slider .slick-slide{
	padding:7px;
}

.slick-prev:before, .slick-next:before{
	color: rgb(0 0 0 / 50%)!important;
}

/* -----------------Product image zoom------------------------------*/
#lens { background-color: rgba( 233, 233, 233, 0.4 ) }
#lens, #result { position: absolute; display: none; z-index: 1;}
/* ----------------Product image zoom end--------------------------*/

.product-details{
    border: 1px solid #f0f0f0;
    padding: 8px 16px 16px 16px;
}

.product-details-title{
    background: 0 0;
    color: #000;
    font-weight: 500;
    border: none;
	font-size: 15px;
    text-transform: uppercase;
	margin-bottom: 15px;
}

.product-label, .product-detail-value{
	color:#4476b2;
	font-size: 13px;
}

.product-detail-row{
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 8px;
	margin-bottom: 5px;
}

.product-details-main>.product-detail-row:last-child{
	border-bottom: none;
}
.product-details-more>.product-detail-row:last-child{
border-bottom: none;
}

.product-details-accordion-title{
	background: #f9f9f9;
    border-top: 1px solid #d1d1d1;
    color: #000;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .1em;
    margin: 0;
    padding: 8px 8px 5px 8px;
    text-transform: uppercase;
	margin-bottom: 10px;
}

.tritiya-promise-item>img{
	width:16px;
	margin-right: 5px;
}

.tritiya-promise-item{
	font-size: 14px;
	flex:0 0 32.5%;
	padding:4px 3px;
}

.tritiya-promises-bulets{
	padding: 8px 16px 16px 16px;
	background-color:#f9f9f9;
	border: 1px solid #f0f0f0;
}

.tritiya-promise-item>a{
	color:#f15d47;
	font-size: 10px;
	text-transform: uppercase;
}

.tritiya-promise-wraper{
	display:flex;
	gap:5px;
	flex-wrap: wrap;
}

.authenticity-title{
	text-align: center;
    text-transform: uppercase;
    color: #272b65;
    font-weight: 700;
    padding: 16px 0 10px 0;
    font-size: 15px;
	font-family: "domine";
	margin-bottom: 10px;
}

.authenticity-text{
	text-align: center;
    padding-bottom: 12px;
	font-size: 14px;
	font-family: "domine";
}

.authenticity{
	background-color: #9babc4;
    border: 1px solid #f0f0f0;

}

.customer-speak-text{
	width: 380px;
    margin: auto;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 25px;
}

.customer-name{
	padding-top: 20px;
    display: block;
}

.customer-name:before{
	display: block;
    content: "";
    margin: auto;
    height: 1px;
    background: #4476b2;
    width: 60px;
    position: relative;
    top: -20px;
}

.customer-speak img{
	width: auto;
    margin: 10px auto;
}

.testimonials-wrap>.title-2{
    color: #000;
    font-weight: 600;
    padding: 18px 0 14px 0;
    margin: 0 25px;
    letter-spacing: .15em;
	font-size: 14px;
    border-bottom: 1px solid #4476b2;
    text-align: left;
    font-family: Muli, Arial, sans-serif;
    text-transform: uppercase;
}

.testimonials-wrap{
	background-color: #fff;
    border: 1px solid #f0f0f0;
    margin-top: 12px;
    text-align: center;
	width: 100%;
}

/* ----------------------------Cart Product Page------------------------------------- */

.cart-product-details-wrap{
	width: 100%;
    gap: 10px;
}
.cart-product-image{
	width:30%;
}
.cart-product-details{
	width: 70%;
}
.cart-product-name>a{
	color: #252525;
	font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}
.cart-product-code{
	font-size: 12px;
    line-height: 18px;
    color: #707070;
    display: block;
    letter-spacing: .04em;
}
.cart-product-price{
	color: #252525;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}
.cart-product-price>strike, .cart-product-price>p{
	font-size: 14px;
	line-height: 20px;
    color: #707070;
	font-weight: 400;
}

.cart-product-price>strike{
	margin-right: 10px;

}

.cart-selected-product-details>.cart-product-label{
	flex:0 0 123px;
}
.cart-product-options{
	flex:1;
	display: flex;
	gap:15px;
}
.cart-product-options>.cart-product-select{
	flex:50%;
	border:none;
	text-align: center;
	border-left:1px solid #ebebeb;
}
.cart-product-label{
	background: #f7f7f7;
	padding: 5px 20px;
	font-size: 14px;
}
.border-top{
	border-top:1px solid #f5f5f5;
}
.cart-product-buttons-row{
	border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    clear: right;
    float: left;
    width: 100%;
    padding: 7px 0;
	margin-top:15px;
}
.cart-product-buttons-row>a{
	color: #252525;
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
    text-transform: uppercase;
	padding: 10px;
    margin: auto;
	font-weight: 500;
}
.cart-product-select, .cart-product-text{
	padding: 5px 20px;
	font-size: 14px;
}
.cart-product-buttons-row>a:last-child{
	border-left:1px solid #ebebeb;
}
.cart-product-promise-wrap{
	gap:15px;
	background: #f7f7f7;
    border: 1px solid #d5d5d5;
    padding: 7px 10px;
    position: relative;
}
.cart-promise-box:nth-child(2){
	width:50%;
}
.cart-promise-box{
	font-size: 14px;
	color:#4d4d4d;
}
.cart-product-promise-wrap:before{
    bottom: 100%;
    left: 114px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
	border-bottom-color: #d5d5d5;
    border-width: 9px;
    margin-left: -9px;
}
.shopping-cart-title{
	color: #252525;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .04em;
    padding: 0 0 5px;
}
.shopping-cart-title>span{
	color: #707070;
    position: static;
    margin: 0 0 0 5px;
    font-size: inherit;
}

.cart-order-summery{
	padding-left: 45px;
	border-left:1px solid #e4e4e4;
	height:100%;
	position: sticky;
	top:10px;
}

.cart-order-summery-title{
	color: #707070;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: .06em;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.cart-total-items, .cart-payable, .cart-save-text{
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.cart-total-items>p, .cart-payable>p{
 	margin-bottom: 0px;
}
.cart-payable{
	color: #252525;
    font-size: 18px;
    font-weight: 500;
}
.cart-total-items{
	font-size: 15px;
}
.cart-value{
	font-weight: 500;
}

.cart-save-text{
	color: #007236;
    font-size: 15px;
    font-weight: 500;
}

.cart-gift-msg{
	background: #f7f7f7;
    padding: 10px 13px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
	margin-top:20px;
}
.cart-gift-msg-lable{
	color:#4d4d4d;
	margin-bottom: 0px;
}

.place-order-btn{
	font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .04em;
    border: 1px solid #fff;
    /* box-shadow: 0 0 6px rgba(0, 0, 0, .2); */
    border-radius: 0px;
    padding: 12px 14px;
	width:100%;
    text-transform: uppercase;
    color: #fff;
    background-color: #f15d47;
	margin-top:30px;
}

.place-order-btn:hover{
	background-color: #ed3318;
}

.btn.btn-orange{
	font-size: 18px;
	text-transform: uppercase;
    color: #fff;
    background-color: #f15d47;
	padding: 5px 14px;
	border-radius:0px;
}
.btn.btn-orange:hover{
	background-color: #ed3318;
}

.input-icon{
	position: absolute;
    top: 13px;
    left: 14px;
}

.custome-input{
	padding-left: 40px;
	border-radius: 0px;
	border: 1px solid #ab732d;
	font-size: 16px;
	height: 48px;
	margin-bottom: 15px;
}

.border-wrap{
	width:100%;
	border-bottom: 1px solid #575757;
	margin-bottom:10px;
}

.input-label{
	font-size: 13px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #f3e8da;
	border-radius: 0px;
}

.nav-pills .nav-link{
	color:#000000;
}

.delivering-details-box{
	background: #f0fafd;
    padding: 12px 10px;
    margin: 0 0 10px;
    width: 100%;
}

.estimated-delivery-view{
	font-size: 12px;
    line-height: 13px;
    letter-spacing: .1em;
    color: #376dab;
    cursor: pointer;
    border: 1px solid #376dab;
    border-radius: 20px;
    padding: 6px 10px;
    letter-spacing: 0;
}

.delivering-detail{
	border-bottom: 1px dotted #c5c5c5;
	margin-bottom: 10px;
}

.contact-details{
	font-size: 14px;
}

.contact-details-address{
    text-indent: -9px;
    padding-left: 30px;
}

/* ---------------------------------About Us------------------------------- */

/* .about-us-breadcrumb{
	background-image:url(../img/about-us-breadcrumb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 80px 0px;
} */

.about-us-counters>h2{
	font-family: "Domine";
	margin-bottom: 0;
}
.font-2{
	font-family: "Domine";
}